.noti-icon {
  position: absolute !important;
  z-index: 500 !important;
  top: 21px !important;
  transform: scale(2) !important;
  left: 21px !important;
  color: white;
  cursor: pointer;
}

.ion-chatbubbles::before,
.ion-clipboard::before,
.ion-calendar::before {
  position: relative;
  transform: scale(1.4);
}