.ant-popover {
  position: fixed;
}

i.anticon.anticon-close.ant-modal-close-icon {
  position: relative;
  top: 12px;
  right: -5px;
}

.ant-drawer-close-x > i.anticon.anticon-close {
  position: relative;
  top: 12px;
  right: -5px;
}

.ant-layout-header {
  padding: 0;
}

.project-info-title {
  font-family: "BMDoHyeon-OTF";
  font-size: 30px;
  position: relative;
  left: 3.5px;
  letter-spacing: 3px;
  background: transparent;
  margin: 10px 0 0 0;
}
